.Login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Login .div {
    background-color: #ffffff;
    height: 1080px;
    /* overflow: hidden; */
    position: relative;
    width: 1920px;
}

.Login .middleSide {
    background-color: #ffffff;
    height: 980px;
    left: 0;
    /* position: absolute; */
    top: 0px;
    width: 1920px;
}

.Login .view {
    background-color: #ffffff;
    height: 939px;
    left: 727px;
    position: relative;
    top: 0px;
    width: 466px;
}

.Login .text-login {
    color: #000000;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 55px;
    font-weight: 650;
    left: 89px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 288px;
}

.Login .input-pw {
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 50px;
    opacity: 0.3;
    overflow: hidden;
    padding: 10px;
    left: 52px;
    position: absolute;
    top: 560px;
    width: 350px;
    font-size: 30px;
}

.Login .input-pw::placeholder {
    font-size: 25px;
    padding: 10px;
}

.Login .input-sn {
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 50px;
    opacity: 0.3;
    overflow: hidden;
    padding: 10px;
    left: 52px;
    position: absolute;
    top: 470px;
    width: 350px;
    font-size: 30px;
}

.Login .input-sn::placeholder {
    font-size: 25px;
    padding: 10px;
}

.Login .click-button {
    background-color: #000000;
    border-radius: 50px;
    border: none;
    height: 70px;
    left: 52px;
    position: absolute;
    top: 680px;
    width: 375px;

    color: #ffffff;
    font-family: 'Inter-Thin', Helvetica;
    font-size: 25px;
    font-weight: 500;
}

.Login .click-button:hover {
    border: 2px solid #000000;
    transition: all 0.2s ease-out;
    cursor: pointer;
}


.Login .view-right {
    height: 22px;
    left: 1583px;
    position: absolute;
    top: 39px;
    width: 244px;
}

.Login .view-middle {
    height: 30px;
    left: 530px;
    position: absolute;
    top: 35px;
    width: 808px;
}

.Login .view-left {
    height: 61px;
    left: 74px;
    position: absolute;
    top: 19px;
    width: 113px;
}