body {
  background-color: #080f17;
  /* background-color: var(--primary-text-color); */
  font-family: "NanumSquare", Helvetica;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.div {
  top: 100px;
  position: relative;
  /* height: 1140px; */
  /* width: 1920px; */
}

.login-button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* 회원가입 박스 스타일 */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  top: 100px;
  /* width: 914px; */
}

.signup-box {
  background-color: #10141c;
  padding: 50px;
  /* margin: 50px; */

  border-radius: 10px;
  width: 500px;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-bottom: 20px;
}

.signup-header h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.signup-header h2 {
  margin: 10px 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.kert-logo {
  position: absolute;
  top: 0;
  right: 0;
}

.kert-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.signup-form .input-group {
  margin-right: 30px;
  margin-bottom: 25px;
}

.signup-form .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ffffff;
}

.signup-form .input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1c1f25;
  color: white;
}

.signup-form .input-group input::placeholder {
  font-size: 16px;
}

.error-message {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}

.signup-button {
  width: 100%;
  padding: 15px;
  background-color: #4A90E2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}